# Dependencies
node_modules/

# Environment variables
.env

# Database
src/database/*.sqlite
src/database/*.sqlite-journal
src/database/*.db
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Railway
.railway/
